div.wrapper {
    background-image: url("../img/landing_background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    min-height: 100%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#index_body .name_logo {
    padding-top: 10vh;
    color: #ff9900;
    text-shadow: 4px 4px #8d1af8;
    font-size: 3.5vw;
}

#enter-btn {
    font-size: 5vw;
    text-shadow: 3.5px 3.5px #6200ff;
}

#enter-btn:hover {
    text-decoration: none;
    text-shadow: 3.5px 3.5px #FF0000;
}

#index_body .descriptions {
    font-size: 2vw;
}

@media screen and (max-width: 1650px) {
    .name_logo {
        margin: 0 auto;
        font-size: 5vw !important;
    }

    #index_body .name_logo {
        padding-top: 2vh;
    }

    #main_welcome {
        padding-top: 10vh;
        font-size: 5vw;
        word-spacing: 6px;
    }

    #enter-btn {
        font-size: 5vw;
    }
    
    #index_body .descriptions {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 1220px) {
    .name_logo {
        margin: 0 auto;
        font-size: 5vw !important;
    }
    
    #index_body .name_logo {
        padding-top: 10vh;
    }

    #main_welcome {
        padding-top: 10vh;
        font-size: 5vw;
        word-spacing: 6px;
    }

    #enter-btn {
        font-size: 6.5vw;
    }
    
    #index_body .descriptions {
        font-size: 4vw;
    }
}

@media screen and (max-width: 860px) {
    #index_body .name_logo {
        padding-top: 20vh;
    }
    
    #enter-btn {
        font-size: 8vw;
    }
    
    #index_body .descriptions {
        font-size: 5vw;
    }
}