html, body {
    height: 100%;
}

body#index_body {
    background-color: #200D3A;
    margin: 0;
    background-image: url("../img/landing_background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: #200D3A;
    margin: 0;
    background-image: url("../img/index_background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

body a {
    text-decoration: none;
    color: #ec8a09;
    text-shadow: 1.5px 1.5px #6200ff;
}

body a:hover {
    text-decoration: none;
    color: #f0d3dc;
    text-shadow: 1.5px 1.5px #FF0000;
}

div.wrapper {
    z-index: 1;
    height: 100%;
    text-align: center;
    margin: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flexitem {
  flex-basis: 100%;
}

div.header_links {
    display: flex;
    min-height: 200px;
    padding: 20px 30px 0px 30px;
}


.name_logo {
    font-family: road-rage;
    font-size: 40px;
}

#index_body .name_logo {
    color: #8d1af8;
    text-shadow: 4px 4px #ff9900;
    font-size: 3.5vw;
}

div.other_links {
    font-family: arcade;
    display: flex;
    column-gap: 1em;
    margin-left: auto;
    padding-top: 35px;
    font-size: 30px;
    height: fit-content;
}


#main_welcome {
    font-family: connection;
    font-size: 3vw;
    word-spacing: 6px;
}

.content_title {
    font-size: 50px;
    font-family: neon-glow;
    color: #e77e1b;
    text-shadow: 0px 0px 15px rgba(233, 247, 33, 0.664);
}

div.about_me {
    max-width: 1000px;
    margin: 0 auto;
}

.descriptions {
    font-family: arcade;
    font-size: 24px;
    line-height: 28px;
}

#enter-btn {
    font-size: 5vw;
    color: #ec8a09;
    text-shadow: 3.5px 3.5px #6200ff;
}

#enter-btn:hover {
    text-decoration: none;
    color: #f0d3dc;
    text-shadow: 3.5px 3.5px #FF0000;
}

#index_body .descriptions {
    font-size: 2vw;
}

.purple-triple-shadow {
    color: #ffffff;
    text-shadow: 1.5px 1.5px #df00c1, 3px 3px #91009e, 4.5px 4.5px #2b0063;
}

#projects p {
    font-family: connection;
    word-spacing: 4px;
}

@font-face {
    font-family: road-rage;
    src: url("../fonts/Roadrage-owgBd.otf");
}

@font-face {
    font-family: connection;
    src: url("../fonts/ConnectionIii-Rj3W.otf");
}

@font-face {
    font-family: arcade;
    src: url("../fonts/PlaymegamesReguler-2OOee.ttf");
}

@font-face {
    font-family: neon-glow;
    src: url("../fonts/NeonGlow-8VLz.ttf");
}